h3 {
    width: max-content;
    margin: 10px auto;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.abzats {
    display: block;
    margin: 10px auto;
}